<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<link href="style.css" rel="stylesheet" type="text/css" >
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- InstanceBeginEditable name="doctitle" -->
<title>{$smarty.const.AUTO_RESPONDER}::{$smarty.const.TITLE_CHANGE_PASSWORD}</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<link href="../style.css" rel="stylesheet" type="text/css">
<!-- InstanceEndEditable -->
</head>

<body>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="3">{include file="top.tpl.html"}</td>
  </tr>
  <tr>
    <td width="8%" valign="top">{include file="campaign.tpl.html"}</td>
    <td width="100%" valign="top" align="left"><table width="100%" align="center"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{include file="menu.tpl.html"}</td>
      </tr>
      <tr>
        <td height="27" align="center" valign="top"><!-- InstanceBeginEditable name="EditRegion3" -->
<script language="javascript" type="text/javascript">
{literal}
function validateEmail(affiliate_email)
	{
   	    mErr = "";
		if (validEmail(affiliate_email) == false || validEmail(affiliate_email) == null || validEmail(affiliate_email) == ""){
  		mErr += "Enter Valid Email\n";
	}
		if (mErr=='')
			return true;
		else
		{
			 return false;
		}
	}

	function validEmail(email)
 	{
		 var exclude=/[^@\-\.\w]|^[_@\.\-]|[\._\-]{2}|[@\.]{2}|(@)[^@]*\1/;
		 var checkend=/\.[a-zA-Z]{2,4}$/;
		
		 if((email.search(exclude) != -1) || (email.search(checkend) == -1))        return false;
		
		 atPos = email.indexOf("@",0);
		 pPos1 = email.indexOf(".",0);
		 periodPos = email.indexOf(".",atPos);
		 pos1 = pPos1;
		 pos2 = 0;
		 while (pos2 > -1)
		 {
			  pos2 = email.indexOf(".",pos1+1);
			  if (pos2 == pos1+1)  return false;
			  else  pos1 = pos2;
		 }
		 if (atPos == -1)        return false;
		 if (atPos == 0)        return false;
		 if (pPos1 == 0)        return false;
		 if(email.indexOf("@",atPos+1) > -1)        return false;
		 if (periodPos == -1)        return false;
		 if (atPos+1 == periodPos)        return false;
		 if (periodPos+3 > email.length)        return false;
		 return true;
	} 
function validateform()
{ 
var errmsg= "";

if(!(validateEmail(document.change_pass_form.txt_email.value)))
  {
 {/literal}
 errmsg= errmsg +  "{$smarty.const.NOT_VALID_EMAIL_IN_EMAIL_FIELD}.\n";
  {literal}
  }
 if(errmsg=="")
    { 
	return true;
	}
	else
	{
	alert(errmsg);
	return false;
	}
}		
	



{/literal}


</script>          
<br>
<table width="70%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="tblHead" scope="row"><table width="100%"  border="0" align="center" cellpadding="1" cellspacing="1">
                <tr bgcolor="#FFFFFF">
                  <td scope="row"><form name="change_pass_form" method="post" action="" onSubmit="return validateform();">
                    <table width="100%"  border="0" align="center" cellpadding="4" cellspacing="1">
                        <tr>
                        <td colspan="2" class="tblHead" scope="row" height="25" align="center"><strong>{$smarty.const.CHANGE_PASS}</strong></td>
                        </tr
                      ><tr>
                        <td colspan="2" align="center" class="campheading">{if $msg_update eq "true"}{$smarty.const.UPDATE_SUCCESS}{/if} {if $msg_update eq "false"} {$smarty.const.UPDATE_FAILURE} {/if}{if $msg_update eq "error"} {$smarty.const.UPDATE_ERROR} {/if}{if $msg_update eq "blank"} {$smarty.const.BLANK_ERROR} {/if} {if $msg_update eq "email_change"} {$smarty.const.EMAIL_UPDATE_SUCCESS} {/if}</td>
                       </tr>
                        <tr>
                          <td  align="right"><font color="#000000">{$smarty.const.CURRENT_EMAIL}</font></td>
                          <td align="left"><input name="txt_email" type="text" id="txt_email" size="32" value="{$loginid}"></td>
                        </tr>
                        <tr>
                        <td  align="right"><font color="#000000">{$smarty.const.CURRENT_PASSWORD}</font></td>
                        <td align="left">
                          <input name="current_pass" type="password" id="current_pass" size="32">
                        </td>
                      </tr>
                      <tr>
                        <td  align="right"><font color="#000000">{$smarty.const.NEW_PASSWORD}</font></td>
                        <td align="left">
                          <input name="new_pass" type="password" id="new_pass" size="32">
                        </td>
                      </tr>
                     <tr>
                        <td  align="right"><font color="#000000">{$smarty.const.CONFIRM_PASSWORD}</font></td>
                        <td  align="left"> <input name="confirm_pass" type="password" id="confirm_pass" size="32"></td>
                      </tr>
                       <tr>
                        <td align="right">
                          <input type="submit" name="update_pass" value="{$smarty.const.UPDATE_PASSWORD}">
                        </td>
                        <td align="left">
                         
                            <input name="reset" type="reset" id="reset" value="{$smarty.const.CANCEL_ALL}">
                          </td>
                      </tr>
                     <tr><td height="25" colspan="2" align="center"><a href="statistics.php?sec=statistics"><strong><img src="images/BACK.JPG" width="46" height="20" border="0"></strong></a></td></tr>
                    </table>
                  <input type="hidden" name="emailid" value="{$loginid}" >
                  </form></td>
                </tr>
              </table></td>
            </tr>
          </table>
        <!-- InstanceEndEditable --></td>
      </tr>
    </table></td>
    <td width="0%">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">{include file="bottom.tpl.html"}</td>
  </tr>
</table>
</body>
<!-- InstanceEnd --></html>
