<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{$smarty.const.AUTORESPONDER}::{$smarty.const.TITLE_ERROR_SUBSCRIBERS}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="../style.css" rel="stylesheet" type="text/css">
</head>

<body>
<br>
<br>
<br>
<br>
<table width="70%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="tblHead" scope="row">
	<table width="100%"  border="1" cellspacing="1" cellpadding="1">
      <tr bgcolor="#FFFFFF">
        <td scope="row"><table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
          
<tr>

            <td scope="row" align="center"><p><font color="#000000">{$smarty.const.DUPLICATE_EMAIL_MESSAGE}</font></p>
              </td>
          </tr>
          <tr>
            <td height="33" scope="row" align="center"><font color="#000000">{$smarty.const.TRY_AGAIN}</font></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
