<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<link href="style.css" rel="stylesheet" type="text/css" >
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- InstanceBeginEditable name="doctitle" -->
<title>{$smarty.const.AUTORESPONDER}::{$smarty.const.TITLE_EDIT_SUBSCRIBERS} </title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<link href="../style.css" rel="stylesheet" type="text/css">
<!-- InstanceEndEditable -->
</head>

<body>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="3">{include file="top.tpl.html"}</td>
  </tr>
  <tr>
    <td width="8%" valign="top">{include file="campaign.tpl.html"}</td>
    <td width="100%" valign="top" align="left"><table width="100%" align="center"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{include file="menu.tpl.html"}</td>
      </tr>
      <tr>
        <td height="27" align="center" valign="top"><!-- InstanceBeginEditable name="EditRegion3" -->
         <script language="javascript" type="text/javascript">
{literal}
function isWords(argvalue) 
{
  var onechar = "";
  for (var n = 0; n < argvalue.length; n++) 
  {
    onechar = argvalue.substring(n, n+1);
    if ((onechar < "A" ||onechar > "Z") && (onechar < "a" || onechar > "z") &&
         (onechar != " ")) 
    {
      return false;
    }
  }
return true;
}
function validateEmail(affiliate_email)
	{
   	    mErr = "";
		if (validEmail(affiliate_email) == false || validEmail(affiliate_email) == null || validEmail(affiliate_email) == ""){
  		mErr += "Enter Valid Email\n";
	}
		if (mErr=='')
			return true;
		else
		{
			 return false;
		}
	}

	function validEmail(email)
 	{
		 var exclude=/[^@\-\.\w]|^[_@\.\-]|[\._\-]{2}|[@\.]{2}|(@)[^@]*\1/;
		 var checkend=/\.[a-zA-Z]{2,4}$/;
		
		 if((email.search(exclude) != -1) || (email.search(checkend) == -1))        return false;
		
		 atPos = email.indexOf("@",0);
		 pPos1 = email.indexOf(".",0);
		 periodPos = email.indexOf(".",atPos);
		 pos1 = pPos1;
		 pos2 = 0;
		 while (pos2 > -1)
		 {
			  pos2 = email.indexOf(".",pos1+1);
			  if (pos2 == pos1+1)  return false;
			  else  pos1 = pos2;
		 }
		 if (atPos == -1)        return false;
		 if (atPos == 0)        return false;
		 if (pPos1 == 0)        return false;
		 if(email.indexOf("@",atPos+1) > -1)        return false;
		 if (periodPos == -1)        return false;
		 if (atPos+1 == periodPos)        return false;
		 if (periodPos+3 > email.length)        return false;
		 return true;
	}

function validateform()
{ 

var errmsg= "";
if((document.subs_update_frm.substatus.value!= 1) && (document.subs_update_frm.substatus.value!= 0))
  {
  {/literal}
  errmsg=errmsg + "{$smarty.const.ENTER_ONE_OR_ZERO_IN_NAME_FIELD}.\n";
   {literal}
  }
if(document.subs_update_frm.substatus.value=="")
  {
  {/literal}
  errmsg=errmsg + "{$smarty.const.BLANK_IN_STATUS_FIELD_NOT_ALLOWED}.\n";
  {literal}
  }
if(document.subs_update_frm.subname.value=="")
  {
  {/literal}
  errmsg=errmsg + "{$smarty.const.BLANK_IN_NAME_FIELD_NOT_ALLOWED}.\n";
   {literal}
  }
if(!(isWords(document.subs_update_frm.subname.value)))
  {
  {/literal}
    errmsg= errmsg +  "{$smarty.const.ENTER_ONLY_TEXT_IN_NAME_FIELD}.\n";
{literal}
  }
if(!(validateEmail(document.subs_update_frm.submail.value)))
  {
 {/literal}
  errmsg= errmsg +  "{$smarty.const.NOT_VALID_EMAIL_IN_EMAIL_FIELD}.\n";
  {literal}
  }
 
 if(errmsg=="")
    { 
	return true;
	}
	else
	{
	alert(errmsg);
	return false;
	}
}		
	



{/literal}
</script>



 <form name="subs_update_frm" method="post" action="" onSubmit="return validateform();">
		  <br>
            <table width="70%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="tblHead"><table width="100%"  border="0" align="center" cellpadding="1" cellspacing="1">
                    <tr>
                      <td bgcolor="#FFFFFF"><table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
                          <tr class="tblHead">
                            <td height="25" colspan="2" align="center"><strong>{$smarty.const.EDIT_SUBSCRIBERS_RECORDS}</strong> </td>
                          </tr>
                          <tr valign="middle">
                            <td width="90" height="25"><div align="right"><font color="#000000"><strong>{$smarty.const.SUBSCRIBER_ID}</strong></font></div></td>
                            <td><div align="left"><font color="#000000"><strong>{$subid}</strong></font></div></td>
                          </tr>
                          <tr>
                            <td><div align="right"><font color="#000000">{$smarty.const.NAME}</font></div></td>
                            <td><div align="left"> <font color="#000000">
                                <input name="subname" type="text" id="subname" value="{$subname}" size="40">
                            </font></div></td>
                          </tr>
                          <tr>
                            <td><div align="right"><font color="#000000">{$smarty.const.EMAIL}</font></div></td>
                            <td><div align="left"> <font color="#000000">
                                <input name="submail" type="text" id="submail" value="{$submail}" size="40">
                            </font></div></td>
                          </tr>
                           <tr>
                            <td><div align="right"><font color="#000000">{$smarty.const.STATUS}</font></div></td>
                            <td><div align="left"> <font color="#000000">
                                <input name="substatus" type="text" id="substatus" value="{$substatus}" size="40">
                            </font></div></td>
                          </tr>
                        
                     
                         
             
              <tr align="center">
                <td colspan="2"><font color="#000000">
                  <input type="submit" name="upadate_subscriber" value="{$smarty.const.UPDATE_SUBSCRIBER}">
                </font></td>
              </tr>
              <tr>
                <td colspan="2"><div align="center"><font color="#000000"><a href="manage_subscriber.php?sec=manage_subscriber"><img src="images/BACK.JPG" width="46" height="20" border="0"></a></font></div></td>
              </tr>
                      </table></td>
                    </tr>
                </table></td>
              </tr>
            </table>
        <input type="hidden" name="sec" value="manage_subscriber">    
          </form>
          
          
                  <br>
                  <!-- InstanceEndEditable --></td>
      </tr>
    </table></td>
    <td width="0%">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">{include file="bottom.tpl.html"}</td>
  </tr>
</table>
</body>
<!-- InstanceEnd --></html>
