<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link href="style.css" rel="stylesheet" type="text/css" >
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>{$smarty.const.AUTORESPONDER}::{$smarty.const.TITLE_THANKS_PAGE}</title>



<link href="../stylesheet/syle.css" rel="stylesheet" type="text/css">
<link href="../style.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td width="8%" valign="top">&nbsp;</td>
    <td width="92%" valign="top" align="center"><table width="100%" align="center"  border="0" cellspacing="4" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td valign="top" align="left"><p>&nbsp;</p>          
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <table width="60%"  border="0" align="center" cellpadding="0" cellspacing="4" class="tblborder">
            <tr>
              <th scope="row"><div align="center">{$smarty.const.ENTRY_SUCCESS}</div></th>
            </tr>
            <tr>
              <th valign="middle" scope="row"><div align="center"></div></th>
            </tr>
          </table>          <p>&nbsp;</p>
          <p>&nbsp;</p></td>
      </tr>
    </table></td>
    <td width="0%">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
</table>
</body>
</html>
