<table width="100%" cellpadding="4" cellspacing="0" border="0">
  <tr>
    <td height="100" align="center" background="images/header.jpg" bgcolor="#6C78A0" style="background-repeat:no-repeat "><h1><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{$smarty.const.AUTORESPONDER}</font></h1></td>
  </tr>
  
  <tr>
    <td height="1" align="center" bgcolor="#FFFFFF"> </td>
  </tr>
</table>
