<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{$smarty.const.AUTORESPONDER}::{$smarty.const.TITLE_UNSUBSCRIBE_SUCCESS}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<table width="100%"  border="0" cellspacing="2" cellpadding="2">
  <tr>
    <th scope="col">{$smarty.const.SUCCESSFULLY_UNSUBSCRIBED}</th>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
